ailment==8.20.6.1
angr==8.20.6.1
archinfo==8.20.6.1
bitstring==3.1.7
cachetools==4.1.0
capstone==4.0.2
cffi==1.14.0
claripy==8.20.6.1
cle==8.20.6.1
decorator==4.4.2
dpkt==1.9.2
future==0.18.2
gitdb==4.0.5
GitPython==3.1.3
itanium-demangler==1.0
mulpyplexer==0.8
networkx==2.4
pefile==2019.4.18
pkg-resources==0.0.0
plumbum==1.6.9
progressbar2==3.51.3
protobuf==3.12.2
psutil==5.7.0
pycparser==2.20
pyelftools==0.26
PySMT==0.9.0
python-utils==2.4.0
pyvex==8.20.6.1
rpyc==4.1.5
six==1.15.0
smmap==3.0.4
sortedcontainers==2.1.0
unicorn==1.0.2rc4
z3-solver==4.8.8.0
